{% extends "layout.jinja2" %}

{#
<!-- {% block pagestyles %}
  {% assets "profile_less_bundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}
{% endblock %} -->
#}

{% block content %}
  {% include "nav.jinja2" %}

  <div class="bs-docs-section">
    <div class="page-header">
          <h2> User Info:</h2>
    </div>
    <div class="row">
          {#
          <!-- <div class="user-meta">
            <div class="user-title meta"><span class="meta-name">Title:</span> <span>{{ job }}</span></div>
            <div class="user-location meta"><span class="meta-name">Address:</span> <span>{{ current_user.address }}</span></div>
            <div class="user-location meta"><span class="meta-name">Birthday:</span> <span>{{ current_user.birthdate }}</span></div>
            <!-- <a href="{{ current_user.website }}">{{ current_user.website }}</a></div> -->
          #}
            <h2 class="text-info"> Transactions: </h2>
            {% if transactions %}
                <table class="table table-hover">
                  <tr>
                    <th scope="col">Time Stamp</th>
                    <td>Nonce</td>
                    <td>Hash</td>
                    <td>Sender</td>
                    <td>To</td>
                    <td>contractAddress</td>
                    <td>Etherscan</td>
                  </tr>
                {% for transaction in transactions |sort(attribute='timeStamp') %}
                    {#<!-- <img class="product-image" src="{{ product.image }}" alt="profile"/> --> #}
                    {% if transaction.sender|lower == address.address|lower %}
                    <tr class="table-info">
                    {% else %}
                    <tr class="table-danger">
                    {% endif %}
                      <th scope="row">{{ transaction.timeStamp }}</th>
                      <td>{{ transaction.nonce }}</td>
                      <td>{{ transaction.hash }}</td>
                      <td>{{ transaction.sender }}</td>
                      <td>{{ transaction.to }}</td>
                      <td>{{ transaction.contractAddress }}</td>
                      <td><a href="https://etherscan.io/tx/{{ transaction.hash }}">Etherscan</a></td>
                    </tr>
                {% endfor %}
                </table>
              {% else %}
                <p> Don't have any transactions added... </p>
              {% endif %}
        </div>
      </div>

{#
  <!-- {% include "blueprintinfo.jinja2" %} -->
#}

{% endblock %}
